@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

a {
  text-decoration: none;
}

.pattern-bg {
  background-image: url(../public/images/Mask-Group.svg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.product-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.dual-bg {
  z-index: -1;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}